.header {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, max-content);
    grid-gap: 2rem;

    &__subtitle {
        font-size: 7.5rem;
        letter-spacing: 1.95rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }
    }

    &__text {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        color: $color-white;
        font-size: 2.5rem;
        display: inline-block;
        justify-self: flex-end;
    }

    @media only screen and (max-width: $bp-small) {
        
    }
}